* {
  box-sizing: border-box;
}

/* Desktop/Tablet */
@media and screen (min-width: 768px) {
  .info {
    font-size: 2vw;
  }
}

/* Mobile */
@media and screen (max-width: 768px) {
  .info {
    font-size: 10vw;
  }
}

/* .info {
  font-family: 'Bitter', serif;
} */